name: Deploy docs to Github Pages
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  deploy-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/checkout@v2
        with:
          repository: ts-docs/ts-extractor
      - uses: actions/setup-node@v2
      - run: npm i
      - run: npm i @ts-docs/default-docs-structure
      - run: tsc
      - run: node dist/index
      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@4.1.3
        with:
          branch: gh-pages
          folder: docs