name: Deploy docs to Github Pages
on:
  push:
    branches:
      - master
jobs:
  deploy-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/checkout@v2
        with:
          name: ts-docs/extractor
      - uses: actions/setup-node@v2
      - run: npm i
      - run: npm i ts-docs/default-docs-structure
      - run: node dist/index src/index.ts extractor/src/index.ts
      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@4.1.3
        with:
          branch: gh-pages
          folder: docs